body {
  background-color: black;
  font-family: "Courier New";
  line-height: 0;
}
h1 {
  color: red;
  font-size: 108px;
  animation-name: fade0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
p {
  color: cyan;
  font-size: 18px;
  line-height: normal;
  animation-name: fade1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes fade0 {
  0%, 100% {opacity: 1;}
  50% {opacity: 0;}
}
@keyframes fade1 {
  0%, 100% {opacity: 0;}
  50% {opacity: 1;}
}
